<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>CachyOS Control Center</vendor>
  <vendor_url>https://cachyos.org/</vendor_url>
  <action id="org.cachyos.controlcenter.package-manage">
    <description>Pakete verwalten</description>
    <message>Zum Verwalten von Paketen ist eine Anmeldung erforderlich.</message>
    <defaults><allow_any>no</allow_any><allow_inactive>no</allow_inactive><allow_active>auth_admin_keep</allow_active></defaults>
  </action>
  <action id="org.cachyos.controlcenter.firewall-manage">
    <description>Firewall verwalten</description>
    <message>Zum Ändern der Firewall ist eine Anmeldung erforderlich.</message>
    <defaults><allow_any>no</allow_any><allow_inactive>no</allow_inactive><allow_active>auth_admin_keep</allow_active></defaults>
  </action>
  <action id="org.cachyos.controlcenter.service-manage">
    <description>Systemdienst verwalten</description>
    <message>Zum Verwalten eines Dienstes ist eine Anmeldung erforderlich.</message>
    <defaults><allow_any>no</allow_any><allow_inactive>no</allow_inactive><allow_active>auth_admin</allow_active></defaults>
  </action>
  <action id="org.cachyos.controlcenter.snapshot-manage">
    <description>System-Snapshots verwalten</description>
    <message>Zum Verwalten von Snapshots ist eine Anmeldung erforderlich.</message>
    <defaults><allow_any>no</allow_any><allow_inactive>no</allow_inactive><allow_active>auth_admin_keep</allow_active></defaults>
  </action>
  <action id="org.cachyos.controlcenter.process-manage">
    <description>Fremde Prozesse verwalten</description>
    <message>Zum Verwalten fremder Prozesse ist eine Anmeldung erforderlich.</message>
    <defaults><allow_any>no</allow_any><allow_inactive>no</allow_inactive><allow_active>auth_admin</allow_active></defaults>
  </action>
</policyconfig>
